* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(starter-code/assets/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}





.div3 {
    background-color: gray;
    height: 1px;
    width: 750px;
    z-index: 5;
    margin-right: -100px;


}

.div4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;

}

.p2 {
    color: white;
}

.nav {
    display: flex;
    backdrop-filter: blur(30px);
    width: 50%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.gt {
    color: white;
    text-align: center;
    margin-bottom: 100px;
    padding-right: 150px;
    margin-top: -50px;
    font-size: 30px;
    font-weight: 100;

}

.div1 {
    display: flex;
    color: white;
    gap: 50px;
    font-size: 20px;
    font-weight: 100;

}

.div2 {
    color: white;
    margin-top: 30px;
}

.moon {
    color: white;
    width: 300px;
    margin-top: 30px;
}

.def {
    margin-top: 50px;

}

.live {
    background-color: gray;
    width: 400px;
    height: 1px;
    margin-top: 40px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 150px;
    padding-left: 200px;
    padding-right: 200px;

}

.h1 {
    font-size: 100px;
    font-weight: 100;
}

.class {
    display: flex;
    color: white;
    justify-content: space-between;
    margin-top: 30px;
}

.span1 {
    color: gray;
}